name: Benchmark

on:
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run benchmarks
        run: |
          echo 'Running benchmarks...'

      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: benchmark-results
          path: ./results

      - name: Download results
        uses: actions/download-artifact@v4
        with:
          name: benchmark-results
